@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "NewRodin";
  src: url("/fonts/SCE-PS3RodinLATINBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NewRodin", sans-serif;
}

.category-container:nth-child(4) > img {
  height: 20px !important;
}

img {
  height: 80px;
}